<div class="globalContent">
    <div class="row">
        <div class="col">
            <div class="card bg-dark">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-md-auto">
                                    <label for="inputDe">Valeur du dé</label>
                                </div>
                                <div class="col-md-2">
                                    <input id="inputDe" [(ngModel)]="valueDe" class="myInput inputDe" type="number"
                                        (keydown)="testEnter($event, 'inputDe')">
                                </div>
                                <div class="col-md-auto">
                                    <button class="btn btn-primary" (click)="lancer()">Lancer</button>
                                </div>
                                <div class="col-md-auto"
                                    *ngIf="ttArmeInTable.length === 1 && affichageBossComponent && affichageBossComponent.bossExist && valueDe">
                                    <button class="btn btn-danger" (click)="affichageBossComponent.applyToBoss(valueDe)">Appliquer au boss</button>
                                </div>
                                <div class="col text-right">
                                    <button class="btn btn-danger" id="btnSwitchMod" (click)="switchBossMod()">
                                        {{mode.libelleBtn}}
                                    </button>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col" *ngIf="affichageBossComponent && affichageBossComponent.nbRelance > 0">
                                    {{affichageBossComponent.nbRelance}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-auto">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input"
                                            [(ngModel)]="switchTranchante" id="switchTranchante" (change)="lancer()">
                                        <label class="custom-control-label" for="switchTranchante">
                                            Tranchantes à 1 main
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-auto">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input"
                                            [(ngModel)]="switchContondante" id="switchContondante" (change)="lancer()">
                                        <label class="custom-control-label" for="switchContondante">
                                            Contondante
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-auto">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" [(ngModel)]="switch2Mains"
                                            id="switch2Mains" (change)="lancer()">
                                        <label class="custom-control-label" for="switch2Mains">
                                            2 mains
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-auto">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" [(ngModel)]="switchPerfo"
                                            id="switchPerfo" (change)="lancer()">
                                        <label class="custom-control-label" for="switchPerfo">
                                            Perforation
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-auto">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" [(ngModel)]="switchToutArme"
                                            id="switchToutArme" (change)="checkAllWeapon()">
                                        <label class="custom-control-label" for="switchToutArme">
                                            Tout
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-auto">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" [(ngModel)]="switchPlates"
                                            id="switchPlates" (change)="lancer()">
                                        <label class="custom-control-label" for="switchPlates">
                                            Plates
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-auto">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" [(ngModel)]="switchCuirasse"
                                            id="switchCuirasse" (change)="lancer()">
                                        <label class="custom-control-label" for="switchCuirasse">
                                            Cuirasse
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-auto">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" [(ngModel)]="switchEcailles"
                                            id="switchEcailles" (change)="lancer()">
                                        <label class="custom-control-label" for="switchEcailles">
                                            Ecailles
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-auto">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" [(ngModel)]="switchMaille"
                                            id="switchMaille" (change)="lancer()">
                                        <label class="custom-control-label" for="switchMaille">
                                            Maille
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-auto">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input"
                                            [(ngModel)]="switchCuirRigide" id="switchCuirRigide" (change)="lancer()">
                                        <label class="custom-control-label" for="switchCuirRigide">
                                            Cuir Rigide
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-auto">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input"
                                            [(ngModel)]="switchCuirSouple" id="switchCuirSouple" (change)="lancer()">
                                        <label class="custom-control-label" for="switchCuirSouple">
                                            Cuir Souple
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-auto">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input"
                                            [(ngModel)]="switchSansArmure" id="switchSansArmure" (change)="lancer()">
                                        <label class="custom-control-label" for="switchSansArmure">
                                            Sans Armure
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-auto">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input"
                                            [(ngModel)]="switchToutArmor" id="switchToutArmor"
                                            (change)="checkAllArmor()">
                                        <label class="custom-control-label" for="switchToutArmor">
                                            Tout
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body" id="zoneClassique" *ngIf="mode.value === 'c'">
                    <div class="row">
                        <!-- TABLE DEGATS -->
                        <div class="col">
                            <div class="card bg-dark">
                                <div class="card-body corps">
                                    <table class="table table-dark">
                                        <thead [innerHTML]="tableHead">
                                        </thead>
                                        <tbody [innerHTML]="tableBody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- FIN TABLE DEGATS -->
                        <div class="col-md-3">
                            <app-affichage-boss [ttArmeInTable]="ttArmeInTable"></app-affichage-boss>
                        </div>
                    </div>
                </div>
                <div class="card-body" id="zoneBoss" *ngIf="mode.value === 'b'">

                </div>
            </div>
        </div>
    </div>
</div>