<div class="card bg-dark">
    <div class="card-body">
        <div class="row" *ngIf="alertPv">
            <div class="col">
                <div class="alert alert-danger">
                    Les PV doivent être renseignés et > 0
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3" *ngIf="!boss.saved">
                Nom
            </div>
            <div class="col text-center">
                <input *ngIf="!boss.saved" type="text" class="myInput" [(ngModel)]="boss.name">
                <h5 *ngIf="boss.saved" class="bossName">{{boss.name}}</h5>
            </div>
        </div>
        <div class="row mb-3" *ngIf="boss.saved">
            <div class="col-md-auto">
                Dégats immédiats
            </div>
            <div class="col">
                <input type="number" class="myInput" [(ngModel)]="degatToApply"
                    (keydown)="testEnter($event, 'degatImmediat')">
            </div>
        </div>
        <div class="row mb-3" *ngIf="boss.saved && modeBoss">
            <div class="col-md-auto">
                Dégats par tour
            </div>
            <div class="col">
                <input type="number" class="myInput" [(ngModel)]="degatParTour">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3">
                PV
            </div>
            <div class="col">
                <input *ngIf="!boss.saved" type="number" class="myInput" [(ngModel)]="boss.pv"
                    (keydown)="testEnter($event, 'saveBoss')">
                <span *ngIf="boss.saved">{{boss.pv}}</span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3">
                BD
            </div>
            <div class="col">
                <input *ngIf="!boss.saved" type="number" class="myInput" [(ngModel)]="boss.bd"
                    (keydown)="testEnter($event, 'saveBoss')">
                <span *ngIf="boss.saved">{{boss.bd}}</span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3">
                Armure
            </div>
            <div class="col">
                <select *ngIf="!boss.saved" class="myInput" [(ngModel)]="boss.armure">
                    <option value="plate">Plate</option>
                    <option value="cuirrasse">Cuirrasse</option>
                    <option value="ecaille">Ecaille</option>
                    <option value="maille">Maille</option>
                    <option value="cuirR">Cuir Rigide</option>
                    <option value="cuirS">Cuir Souple</option>
                    <option value="sa">Sans Armure</option>
                </select>
                <span *ngIf="boss.saved">{{(ttArmure | filter: {value: (boss.armure)}:{col : 'libelle'})}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-success" *ngIf="!boss.saved" (click)="saveBoss()">Enregistrer</button>
                <button class="btn btn-primary" *ngIf="boss.saved" (click)="newBoss()">Nouveau</button>
            </div>
        </div>
    </div>
</div>