<div class="card bg-dark">
    <div class="card-body">
        <div class="row mb-2">
            <div class="col text-center">
                <button class="btn btn-success" *ngIf="!bossExist" (click)="saveBoss()">Enregistrer</button>
                <button class="btn btn-primary" *ngIf="bossExist" (click)="newBoss()">Nouveau</button>
            </div>
        </div>
        <div class="row" *ngIf="alertPv">
            <div class="col">
                <div class="alert alert-danger">
                    Les PV doivent être renseignés et > 0
                </div>
            </div>
        </div>
        <div class="row mb-3" *ngIf="bossExist">
            <div class="col-md-auto">
                Dégats immédiats
            </div>
            <div class="col">
                <input type="number" class="myInput" [(ngModel)]="degatToApply"
                    (keydown)="testEnter($event, 'degatImmediat')">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-auto">
                PV
            </div>
            <div class="col">
                <input *ngIf="!bossExist" type="number" class="myInput" [(ngModel)]="boss.pv"
                    (keydown)="testEnter($event, 'saveBoss')">
                <span *ngIf="bossExist">{{boss.pv}}</span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-auto">
                BD
            </div>
            <div class="col">
                <input *ngIf="!bossExist" type="number" class="myInput" [(ngModel)]="boss.bd"
                    (keydown)="testEnter($event, 'saveBoss')">
                <span *ngIf="bossExist">{{boss.bd}}</span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-auto">
                Armure
            </div>
            <div class="col">
                <select *ngIf="!bossExist" class="myInput" [(ngModel)]="boss.armure">
                    <option value="plate">Plate</option>
                    <option value="cuirrasse">Cuirrasse</option>
                    <option value="ecaille">Ecaille</option>
                    <option value="maille">Maille</option>
                    <option value="cuirR">Cuir Rigide</option>
                    <option value="cuirS">Cuir Souple</option>
                    <option value="sa">Sans Armure</option>
                </select>
                <span *ngIf="bossExist">{{(ttSalle | filter: {id_salle: (convocation.salle_id)}:{col : <!-- TODO: créer tableau d'armure pour le filtre -->
                    'nom'})}}</span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div id="chat">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>